/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "KaBlam";
  src: url("assets/fonts/ka-blam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: sans-serif;
}
